apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    control-plane: gitops-operator
  name: openshift-gitops-operator-metrics-monitor
spec:
  endpoints:
  - bearerTokenSecret:
      key: token
      name: openshift-gitops-operator-metrics-monitor-bearer-token
    interval: 30s
    path: /metrics
    port: metrics
    scheme: https
    tlsConfig:
      ca:
        configMap:
          key: service-ca.crt
          name: openshift-gitops-operator-metrics-monitor-ca-bundle
      serverName: openshift-gitops-operator-metrics-service.openshift-gitops-operator.svc
  selector:
    matchLabels:
      control-plane: gitops-operator
