# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/pipelines.openshift.io_gitopsservices.yaml
- bases/argoproj.io_applications.yaml
- bases/argoproj.io_appprojects.yaml
- bases/argoproj.io_applicationsets.yaml
- bases/argoproj.io_argocds.yaml
- bases/analysis-run-crd.yaml
- bases/analysis-template-crd.yaml
- bases/argoproj.io_rolloutmanagers.yaml
- bases/cluster-analysis-template-crd.yaml
- bases/experiment-crd.yaml
- bases/rollout-crd.yaml
#+kubebuilder:scaffold:crdkustomizeresource

patchesStrategicMerge:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
#- patches/webhook_in_gitopsservices.yaml
- patches/webhook_in_argocds.yaml
#+kubebuilder:scaffold:crdkustomizewebhookpatch

# patches here are for enabling the CA injection for each CRD
#- patches/cainjection_in_gitopsservices.yaml
- patches/cainjection_in_argocds.yaml
#+kubebuilder:scaffold:crdkustomizecainjectionpatch

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
- kustomizeconfig.yaml
